<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title color: silver>Ancient Pilgrimage</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: #f8f9fa;
        }

        .jumbotron {
            background-image: linear-gradient(to right,maroon,rgb(223, 193, 20));
            color: #ffffff;
            padding: 50px;
            margin-bottom: 0;
        }

        .container {
            margin-top: 30px;
        }
        .display-4{
           font-family: garamond;
           font-size: 100px;
        }
        #heading{
            font-family: garamond;
            font-size: 75px;
        }
        #para1{
            font: size 45px ;
        }

        #map{
            margin-top: 30px;
            left: 300px;
        }
        ul{
            list-style-type: none;
            margin:0;
            padding:0;
            overflow:hidden;
        }
        li{
            float: left;
        }

        li a{
            dispaly:block;
            color:white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;

        }

        li a:hover{
            background-color:#111;
        }
     
    </style>
</head>

<body>

    <!-- Navigation Bar -->
 
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <ul>
      <li>  <a class="navbar-brand" href="/">Ancient Pilgrimage</a></li>
    <li>  <a class="navbar-brand" href="/map" >Map</a></li>
    <li >  <a class="navbar-brand" href="/contactus" >Contact Us</a></li>
        </ul>
    </nav>

    <!-- Jumbotron/Header -->
    <div class="jumbotron text-center">
        <h1 class="display-4"><b>Rajasthan</b> </h1>
    </div>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1 id="heading"><b>Ajmer Sharif Dargah</b></h1>
                <p id="para1">The Ajmer Sharif Dargah is a Sufi shrine located in the city of Ajmer in Rajasthan, India. It is dedicated to the Sufi saint Moinuddin Chishti, who is also known as "Gharib Nawaz," or the "Benefactor of the Poor." The dargah, or tomb, was built in the 13th century, and it has become a popular place of pilgrimage for people of many different faiths, including Hindus, Muslims, and Christians.</p>
                <p>The history of the Ajmer Sharif Dargah is steeped in rich tradition and spiritual significance. Moinuddin Chishti was a highly revered Sufi saint who lived in the 12th and 13th centuries.The tomb of Moinuddin Chishti is located in the center of the complex, and it is surrounded by several other buildings, including a mosque, a guest house, and a library. The dargah is known for its beautiful architecture, and it is a popular tourist attraction in Ajmer.The Ajmer Sharif Dargah is much more than just a historical monument or tourist attraction. It is a symbol of the Sufi tradition, a place of pilgrimage and spirituality, and a reminder of the power of love, compassion, and tolerance. Whether you are a scholar of Sufi teachings, a pilgrim seeking blessings, or simply a traveler looking to experience the rich culture of India, the Ajmer Sharif Dargah is a must-see destination.</p>
            </div>
            <div> 
                <img src= "{{ url_for('static',filename='Ajmer-shrarif-dargah.jpg') }}"
                width="800px"
                breadh="900px">
            </div>
        </div>
    
            <br>
    <h3 style=" margin-top: 30px;">Ajmer Sharif Dargah timings:</h3>
    <p>In Summers 

        Opens at: 4 AM,
        
        Closes at: 10 PM
        
       and in Winters 
        
        Opens at: 5 AM,
        
        Closes at: 9 PM</p>
        <h3>Map:</h3>
    <p id="map"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3571.9877074071323!2d74.62560977487931!3d26.456125179564175!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x396be710a6295d19%3A0x17da9f02930d903b!2sKhwaja%20Gharib%20Nawaz%20Dargah%20Sharif!5e0!3m2!1sen!2sin!4v1708021329510!5m2!1sen!2sin" width="780" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1 id="heading"><b>Dilwara Jain Temple</b></h1>
                <p id="para1">Dilwara Jain Temples is one of the finest Jain temple known world over for its extraordinary architecture and marvelous marble stone carvings, some experts also consider it architecturally superior to the Taj Mahal. It seems fairly basic temple from outside but every cloud has a silver lining, the temple interior showcases the extraordinary work of human craftsmanship at its best. These temples were built between 11th to 13th century AD.</p>
                 <p>Dilwara Temple Complex consist of five different temples, each devoted to five Jain trithankaras(saints).:

                    Shri Mahaveer Swami Temple – This Jain temple is devoted to Lord Mahaveer the 24th Tirthankara of Jain’s. It was built in 1582. This is a small temple relative to other Jain temples.
                    Shri AdiNath Temple or Vimal Vasahi Temple – This is the oldest temple among all other temples in the complex and dedicated to first Jain Tirthankara Shri Adinath Ji. It was built by Vimal Shah, Minister of Solanika ruler of Gujarat in 1031 A.D.
                    Shri ParshavNath Temple or Khartar Vasahi Temple – Shri ParshavNath Temple has the tallest shrine among all Dilwara temples,
                    Shri Rishabdaoji Temple or Peethalhar Temple – Shri Rishabdaoji Temple was built by Bhima Shah, a minister from Gujarat dynasty.
                    Shri Nemi Nath Ji Temple or Luna Vasahi Temple – This temple is dedicated to the 22nd saint of Jainism – Shri Nemi Nathji. </p>

                <img src="{{ url_for('static',filename=' z-mt-abu-dilwara-temple.webp') }}"
                width="800px"
                breadth="900px">
            </div>
        </div>

        <br>
    <h3 style=" margin-top: 30px;"> Dilwara Jain Temple timings:</h3>
        <p>Dilwara Jain Temple, Mount Abu, Sirohi ; Timings, For Pooja & Darshan for Jain devotees: 7 AM to 8 PM For All tourist: 11 AM to 5 PM.</p>
        <h3>Map:</h3>
        <p id="map"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3627.414733059235!2d72.7181087782739!3d24.60938679879782!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395d2a8fee50b0fd%3A0x457abeef5061268!2sDelwara%20Temple!5e0!3m2!1sen!2sin!4v1708023331493!5m2!1sen!2sin" width="780" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></p></div>
    <div>
        <h2>Comments</h2><br><br>
        <form action="/rajasthan" method="post">
            <label for="name"> Name</label>
            <input type="text" name="name"><br><br>
            <label for="comments">Comment</label>
            <input type="text" name="comment"><br><br>
            <input type="submit"><br><br>

        </form>
    </div>
    {% for comment in comments%}

    <div>
    <hr>
        <h6>{{comment.Name}}</h6>
        <p> {{comment.comment}}</p>
    
    </div>
    {% endfor %}
    <!-- Footer -->
    <footer class="footer mt-auto py-3 bg-dark text-white">
        <div class="container text-center">
            <span>&copy; 2024 Ancient Pilgrimage</span>
        </div>
    </footer>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

